<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdministratorsPasswordMapper">
    <resultMap id="BaseResultMap" type="data.AdministratorsPassword">
        <result column="administrator_no" jdbcType="BIGINT" property="administratorNo"/>
        <result column="administrator_password" jdbcType="VARCHAR" property="administratorPassword"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        administrator_no, administrator_password
    </sql>
    <select id="selectByExample" parameterType="data.AdministratorsPasswordExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from administrators_password
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="data.AdministratorsPasswordExample">
        delete from administrators_password
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="data.AdministratorsPassword">
        insert into administrators_password (administrator_no, administrator_password)
        values (#{administratorNo,jdbcType=BIGINT}, #{administratorPassword,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="data.AdministratorsPassword">
        insert into administrators_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="administratorNo != null">
                administrator_no,
            </if>
            <if test="administratorPassword != null">
                administrator_password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="administratorNo != null">
                #{administratorNo,jdbcType=BIGINT},
            </if>
            <if test="administratorPassword != null">
                #{administratorPassword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="data.AdministratorsPasswordExample" resultType="java.lang.Long">
        select count(*) from administrators_password
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update administrators_password
        <set>
            <if test="row.administratorNo != null">
                administrator_no = #{row.administratorNo,jdbcType=BIGINT},
            </if>
            <if test="row.administratorPassword != null">
                administrator_password = #{row.administratorPassword,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update administrators_password
        set administrator_no = #{row.administratorNo,jdbcType=BIGINT},
        administrator_password = #{row.administratorPassword,jdbcType=VARCHAR}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>