<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClassMapper">
    <resultMap id="BaseResultMap" type="data.Class">
        <id column="class_no" jdbcType="BIGINT" property="classNo"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="class_college" jdbcType="VARCHAR" property="classCollege"/>
        <result column="class_major" jdbcType="VARCHAR" property="classMajor"/>
        <result column="class_enrollment_year" jdbcType="INTEGER" property="classEnrollmentYear"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        class_no, class_name, class_college, class_major, class_enrollment_year
    </sql>
    <select id="selectByExample" parameterType="data.ClassExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from class
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class
        where class_no = #{classNo,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from class
        where class_no = #{classNo,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="data.ClassExample">
        delete from class
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="data.Class">
        insert into class (class_no, class_name, class_college,
                           class_major, class_enrollment_year)
        values (#{classNo,jdbcType=BIGINT}, #{className,jdbcType=VARCHAR}, #{classCollege,jdbcType=VARCHAR},
                #{classMajor,jdbcType=VARCHAR}, #{classEnrollmentYear,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="data.Class">
        insert into class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classNo != null">
                class_no,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="classCollege != null">
                class_college,
            </if>
            <if test="classMajor != null">
                class_major,
            </if>
            <if test="classEnrollmentYear != null">
                class_enrollment_year,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classNo != null">
                #{classNo,jdbcType=BIGINT},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="classCollege != null">
                #{classCollege,jdbcType=VARCHAR},
            </if>
            <if test="classMajor != null">
                #{classMajor,jdbcType=VARCHAR},
            </if>
            <if test="classEnrollmentYear != null">
                #{classEnrollmentYear,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="data.ClassExample" resultType="java.lang.Long">
        select count(*) from class
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update class
        <set>
            <if test="row.classNo != null">
                class_no = #{row.classNo,jdbcType=BIGINT},
            </if>
            <if test="row.className != null">
                class_name = #{row.className,jdbcType=VARCHAR},
            </if>
            <if test="row.classCollege != null">
                class_college = #{row.classCollege,jdbcType=VARCHAR},
            </if>
            <if test="row.classMajor != null">
                class_major = #{row.classMajor,jdbcType=VARCHAR},
            </if>
            <if test="row.classEnrollmentYear != null">
                class_enrollment_year = #{row.classEnrollmentYear,jdbcType=INTEGER},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update class
        set class_no = #{row.classNo,jdbcType=BIGINT},
        class_name = #{row.className,jdbcType=VARCHAR},
        class_college = #{row.classCollege,jdbcType=VARCHAR},
        class_major = #{row.classMajor,jdbcType=VARCHAR},
        class_enrollment_year = #{row.classEnrollmentYear,jdbcType=INTEGER}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="data.Class">
        update class
        <set>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="classCollege != null">
                class_college = #{classCollege,jdbcType=VARCHAR},
            </if>
            <if test="classMajor != null">
                class_major = #{classMajor,jdbcType=VARCHAR},
            </if>
            <if test="classEnrollmentYear != null">
                class_enrollment_year = #{classEnrollmentYear,jdbcType=INTEGER},
            </if>
        </set>
        where class_no = #{classNo,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="data.Class">
        update class
        set class_name            = #{className,jdbcType=VARCHAR},
            class_college         = #{classCollege,jdbcType=VARCHAR},
            class_major           = #{classMajor,jdbcType=VARCHAR},
            class_enrollment_year = #{classEnrollmentYear,jdbcType=INTEGER}
        where class_no = #{classNo,jdbcType=BIGINT}
    </update>
</mapper>